body, html {
	padding: 0;
	margin: 0;

	background: linear-gradient(327deg, #FCE4EC, #2ef3c1, #e65959, #59c0e6, #e559e6, #F57C00, #E3F2FD, #FBC02D, #D32F2F);
	background-size: 800% 800%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}
@keyframes AnimationName { 
  0%{background-position:0% 67%}
  50%{background-position:100% 34%}
  100%{background-position:0% 67%}
}

main {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main div.container {
	background: #fff;
  width: 360px;
  height: 600px;
  border-radius: 1.5%;

}

main div.container img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	margin-top: 10%;
	border: 3px solid #fff;
	overflow: hidden;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
}

div.headline {
	text-align: center;
	margin: 10% 0;
}

div.headline h1,
div.headline h4 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 100;
	color: #444;
}

div.icon {
	margin: 0 auto;
	text-align: center;
}

div.icon ul {
	margin: 30px;
	padding: 0;
}

div.icon ul li {
	list-style: none;
	margin: 10px;
	display: inline;
}

div.icon ul li:hover {
	color: #f90;
}

div.icon ul li a {
  text-decoration: none;
  color: #313131;
  font-size: 40px;
  -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #D32F2F;
  }
  10% { 
    color: #C2185B;
  }
  20% { 
    color: #689F38;
  }
  30% { 
    color: #1976D2;
  }
  40% {
    color: #512DA8;
  }
  50% { 
    color: #303F9F;
  }
  60% { 
    color: #1976D2;
  }
  70% { 
    color: #0288D1;
  }
  80% {
    color: #0097A7;
  }
  90% {
    color: #00796B;
  }
  100% { 
    color: #FBC02D;
  }
}